<html>
<head>
    <title>Tots.cool</title>
    <base href="/">
    <script>
      {{#if @loggedin}}
      var auth = {{{@payload}}};
      {{else}}
      var auth = false;
      {{/if}}
    </script>
    {{#if post}}
    <!-— facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{@thisurl}}" />
    <meta property="og:title" content="Tot from {{post.user.displayName}}" />
    <meta property="og:description" content="{{post.text}}" />
    {{#post.images}}
        <meta property="og:image" content="{{url}}" />
    {{/post.images}}

    <!-— twitter card tags additive with the og: tags -->
    <meta name="twitter:domain" value="tots.glitch.me" />
    <meta name="twitter:title" value="Tot from {{post.user.displayName}}" />
    <meta name="twitter:description" value="{{post.text}}" />
    {{#post.images}}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{url}}" />
    {{/post.images}}
    {{^post.images}}
      <meta name="twitter:card" content="summary" />
    {{/post.images}}
    <meta name="twitter:url" value="{{@thisurl}}" />
    {{/if}}


    <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="//rawgithub.com/mgcrea/angular-pull-to-refresh/master/dist/angular-pull-to-refresh.js"></script>
    <script src="/js/angular-file-input/dist/angular-file-input.min.js"></script>
    <script src="/js/ment.io/dist/mentio.js"></script>
    <script src="/js/angular-elastic/elastic.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.4/dist/showdown.min.js"></script>
    <script src="/client.js"></script>

    <script src="/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//rawgithub.com/mgcrea/angular-pull-to-refresh/master/dist/angular-pull-to-refresh.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



</head>
<body ng-app="tots" ng-controller="app">
    <header id="header">
        <div class="wrapper">
            <nav ng-if="ui.history.length>1">
                <ul>
                    <li><a ng-click="popHistory()">⬅ {% backTitle() %}</a></li>
                </ul>
            </nav>
            <nav class="right" ng-if="ui.history.length>1">
                <ul>
                    <li><a href="/">❎</a></li>
                </ul>
            </nav>

            <nav ng-if="!ui.history || ui.history.length<=1">
                <ul>
                    <li class="ng-class:{active: ui.nav=='home'};"><a href="/">🏠<span class="label"> Home</span></a></li>
                    {{#@loggedin}}
                    <li class="ng-class:{active: ui.nav=='notifications'};"><a href="/notifications">🎉<span class="label"> Notifications</span></a></li>
                    <li class="ng-class:{active: ui.nav=='public'};"><a href="/public">🌎<span class="label"> Public</span></a></li>
                    {{/@loggedin}}
                    <li class="ng-class:{active: ui.nav=='search'}; small_screen_only"><a href="/search">🔍<span class="label"> Search</span></a></li>

                </ul>
            </nav>
            <nav class="right" ng-if="!ui.history || ui.history.length<=1">
                <ul>
                    <li class="big_screen_only"><form method="get" action="/search"><input type="search" name="query" placeholder="Search" /></form></li>
                    {{#@loggedin}}<li class="menu">
                        <a href="/me" target="_self">Me</a>
                        <ul>
                            <li><A href="/me" target="_self">My Profile</a></li>
                            <li><a href="/editprofile">Edit Profile</a></li>
                            <li><a href="/logout" target="_self">Logout</a></li>
                        </ul>
                    </li>{{/@loggedin}}
                    {{^@loggedin}}<li><a href="/login" target="_self">Login</a></li>{{/@loggedin}}
                </ul>
            </nav>
        </div>
    </header>
    <div class="body">
        <div ng-view>
          <!-- Loading Tots! -->
        </div>
        {{{body}}}
    </div>



      <script type="text/ng-template" id="/people-mentions.tpl">
          <ul class="list-group user-search">
              <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
                  <span class="text-primary"
                      ng-bind-html="person.displayName | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
              </li>
          </ul>
      </script>


    </body>
</body>
</html>
